.admin-tabs--primary {
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-flow: flex-start;
  margin: 0 0 0.5em;
  padding: 0.5em 1em 0 0.5em;

  &:before {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 0;
    border-bottom: 1px solid #cfcfcf;
  }

}

.admin-tabs__tab {
  list-style: none;
  margin: 0;
  padding: 0;
}

.admin-tabs__link {
  display: block;
  padding: 0.5em 0.8em;
  border: 1px solid #cfcfcf;
  border-right-width: 0;
  font-weight: bold;
  background: #efefef;

  &.is-active {
    border-bottom-width: 0;

    &,
    &:hover {
      background: #fff;
    }

  }

  .admin-tabs__tab:last-child & {
    border-right-width: 1px;
  }

  &:hover {
    background: #f5f5f5;
  }

}
